# Extends https://github.com/bjw-s/helm-charts/blob/13c511dc13e1f31c1ccfd81f67aafd369c86e1a0/charts/library/common/values.yaml
---
image:
  repository: docker.io/_/postgres
  tag: latest
  pullPolicy: IfNotPresent

env:
  TZ: UTC

service:
  main:
    primary: true
    ports:
      http:
        port: 80

ingress:
  main:
    enabled: false

persistence:
  config:
    enabled: false
    mountPath: /config

podSecurityContext: {}
  # runAsUser: 568
  # runAsGroup: 568
  # fsGroup: 568

resources: {}
  # requests:
  #   # Hardware acceleration using an Intel iGPU w/ QuickSync and
  #   # using intel-gpu-plugin (https://github.com/intel/intel-device-plugins-for-kubernetes)
  #   gpu.intel.com/i915: 1
  #   cpu: 200m
  #   memory: 256Mi
  # limits:
  #   # Hardware acceleration using an Intel iGPU w/ QuickSync and
  #   # using intel-gpu-plugin (https://github.com/intel/intel-device-plugins-for-kubernetes)
  #   gpu.intel.com/i915: 1
  #   memory: 4096Mi
