# Extends https://github.com/bjw-s/helm-charts/blob/13c511dc13e1f31c1ccfd81f67aafd369c86e1a0/charts/library/common/values.yaml
---
image:
  repository: docker.io/erichough/nfs-server
  tag: latest
  pullPolicy: IfNotPresent

env:
  TZ: UTC
  # Define exports here or in `/etc/exports` volume
  # NFS_EXPORT_0: /data
  # NFS_EXPORT_1: /some/container/path

service:
  main:
    ports:
      http:
        port: 2049

ingress:
  main:
    enabled: false

persistence:
  # Use config or use "env: {}" to define exports
  config:
    enabled: false
    mountPath: /etc/exports
    readOnly: true

  # Define any data path in container for NFS content
  data:
    enabled: false
    mountPath: /data
    # See https://kubernetes.io/docs/concepts/storage/volumes/#hostpath
    # type: hostPath
    # hostPath:

# This needs to be enabled...but we'll let you do it
# https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
securityContext:
  privileged: false
  # Or add capability here:
  # capabilities:
  #   add: ["SYS_ADMIN"]

podSecurityContext: {}
  # runAsUser: 568
  # runAsGroup: 568
  # fsGroup: 568

resources: {}
  # requests:
  #   # Hardware acceleration using an Intel iGPU w/ QuickSync and
  #   # using intel-gpu-plugin (https://github.com/intel/intel-device-plugins-for-kubernetes)
  #   gpu.intel.com/i915: 1
  #   cpu: 200m
  #   memory: 256Mi
  # limits:
  #   # Hardware acceleration using an Intel iGPU w/ QuickSync and
  #   # using intel-gpu-plugin (https://github.com/intel/intel-device-plugins-for-kubernetes)
  #   gpu.intel.com/i915: 1
  #   memory: 4096Mi

# Pod constraints for a specific node
# See https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity
affinity: {}
#   nodeAffinity:
#     requiredDuringSchedulingIgnoredDuringExecution:
#       nodeSelectorTerms:
#        - matchExpressions:
#          - key: devices
#            operator: In
#            values:
#             - usb
