# Extends https://github.com/bjw-s/helm-charts/blob/13c511dc13e1f31c1ccfd81f67aafd369c86e1a0/charts/library/common/values.yaml
---
image:
  repository: docker.io/itsthenetwork/nfs-server-alpine
  tag: latest
  pullPolicy: IfNotPresent

env:
  TZ: UTC
  SHARED_DIRECTORY: /data

service:
  main:
    ports:
      http:
        port: 2049
  udp-111:
    enabled: true
    ports:
      udp-111:
        enabled: true
        port: 111
        protocol: UDP
        targetPort: 111

ingress:
  main:
    enabled: false

persistence:
  # Define any data path in container for NFS content
  data:
    enabled: true
    mountPath: /data
    # See https://kubernetes.io/docs/concepts/storage/volumes/#hostpath
    # type: hostPath
    # hostPath:

# This needs to be enabled...but we'll let you do it
# https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
securityContext:
  privileged: false
  # Or add capability here:
  # capabilities:
  #   add: ["SYS_ADMIN", "SETPCAP"]

# Pod constraints for a specific node
# See https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity
affinity: {}
#   nodeAffinity:
#     requiredDuringSchedulingIgnoredDuringExecution:
#       nodeSelectorTerms:
#        - matchExpressions:
#          - key: devices
#            operator: In
#            values:
#             - usb
